aiohttp
alabaster
appdirs
async-timeout
atomicwrites
attrs
autoflake
babel
black
bleach
certifi
chardet
click
codecov-cli
# codecov==2.1.10 ; python_version >= "3.7" and python_version < "4.0" \
#     --hash=sha256:61bc71b5f58be8000bf9235aa9d0112f8fd3acca00aa02191bb81426d22a8584 \
#     --hash=sha256:a333626e6ff882db760ce71a1d84baf80ddff2cd459a3cc49b41fdac47d77ca5 \
#     --hash=sha256:d30ad6084501224b1ba699cbf018a340bb9553eb2701301c14133995fdd84f33
colorama
coverage
docutils
idna
imagesize
importlib-metadata
isort
jinja2
markupsafe
marshmallow
more-itertools
multidict
mypy-extensions
mypy
packaging
pathspec
pkginfo
pluggy
pockets
py
pyflakes
pygments
pyparsing
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest
pytz
readme-renderer
regex
requests-toolbelt
requests
six
snowballstemmer
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
tqdm
twine
typed-ast
typing-extensions
urllib3
wcwidth
webencodings
yarl
zipp
